body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}

h2, h3 {
  margin-bottom: 10px;
}

button {
  background: var(--primary);
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
}

input, textarea, select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--border);
  width: 250px;
}
